h2{
    color: red;
    display: none;
}
.check{
    display: none;
}

.input2 {
    display: none;
}

h3{
    display: none;
}
.err{
    color: red;
}

.main{
    display: none;
}
.main .winner{
    display: none;
}

.main .wName{
    color: red;
}
.main .loser{
    display: none;
}

.main .lName{
    color: red;
}



.player2name{
    color: rgb(156, 5, 164);
}
.player2{
    color: rgb(1, 179, 170);
}
.userErr{
    color: red;
    font-size: 20px;
}

.note{
    color: green;
}

.note .nopn{
    color: red;
}