h2{
    color: red;
    display: none;
}
.check{
    display: none;
}

.input2 {
    display: none;
}

h3{
    display: none;
}
.err{
    color: red;
}

.main{
    display: none;
}
.main .winner{
    display: none;
    font-family: 'Playfair Display', serif;
}

.main .wName{
    color: red;
}
.main .loser{
    display: none;
    font-family: 'Playfair Display', serif;
}

.main .lName{
    color: red;
}



.player2name{
    color: rgb(156, 5, 164);
}
.player2{
    color: rgb(1, 179, 170);
}
.userErr{
    color: red;
    font-size: 20px;
}

.note{
    color: green;
}

.note .nopn{
    color: red;
}
body{
    background-color: rgb(243, 186, 248);
    font-family: 'Playfair Display', serif;
}

.userName{
    padding: 15px 50px;
}

.user{
    margin-top: 40px;
    margin-left: 20px;
}
.userbtn{
    width: 285px;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: navy;
    color: white;
    border: 2px solid navy;
    border-radius: 8px;
    transition: .5s ease;
    
}
.userbtn:hover{
    background-color: transparent;
    color: navy;
    font-weight: bolder;
    font-style: italic;
}
.submit{
    width: 285px;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: navy;
    color: white;
    border: 2px solid navy;
    border-radius: 5px;
    transition: .5s ease;
}
.submit:hover{
    background-color: transparent;
    color: navy;
    font-weight: bolder;
    font-style: italic;
}

.input1{
    padding: 15px 50px;
}
.input2{
    padding: 15px 50px;
}

.check{
    width: 285px;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: navy;
    color: white;
    border: 2px solid navy;
    border-radius: 5px;
    transition: .5s ease;
}
.check:hover{
    background-color: transparent;
    color: navy;
    font-weight: bolder;
    font-style: italic;
}

.count{
    color: red;
}

.note1P{
    color: green;
}
.noteC{
    color: black;
}
.appos{
    color: red;
}
